// $primary-color: #ED5339;
// $secondary-color:   #EE7A38;;
// $text-color:   #1E2023;
// $light-text-color: #FFFFFF;
// $white: #fff;
// $dark-text-color: #000000;
// $primary-background: #ED5339;
// $secondary-background: #EE7A38;
// $third-background: #f4f4f4;
// $border-color: #A4A4A4;
// $dark-background: #19191F;
// $error-color: #FF3838;
// $success-color: #53C058;
// $main-background:   linear-gradient(349.89deg, #FFFFFF 7.4%, #F0F2F6 50.72%, #FFFFFF 92.27%);;
// $slider-gradient: linear-gradient(104.68deg, #E67536 17.13%, #E6213A 100%);

$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xb: 1400px
);