// .modal-content {
//     background: #C1D08B;
//   }
.modal {
  &-dialog {
  }

  &-dialog-centered {
  }
  &-dialog-scrollable {
  }

  &-content {
  }
  &-header {
  }
  &-title {
  }

  &-body {
  }

  &-footer {
  }
  .invalid-feedback {
    font-size: 11px;
  }
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      font-size: 6rem;
      & > path {
        fill: green;
      }
    }
  }
  &-text {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .form-floating {
    padding: 0;
  }
}

