* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Ruberoid, Roboto, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header,
footer {
  -webkit-box-shadow: 0px 5px 5px -5px rgb(34 60 80 / 60%);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgb(34 60 80 / 60%);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  &,.footer-text{
    color: #fff;
    a {
      color: #da982b;
    }
  }
}
footer {
  min-height: 40px;
}
.header {
  min-height: 40px;

  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: inherit;
    padding: 0 3vw;
  }
}
.logo {
}

.nav {

  display: flex;

  // .nav__link

  &__link {
    display: flex;
    align-items: center;
    padding: 4px 14px;
    border-right: 1px solid #000;
    background: rgba(0, 0, 0, 0.11);
    &:first-child {
      border-left: 1px solid #000;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.31);
    }
  }
  &__text {
    color: #da982b;
  }

  // .nav__icon

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
  }
}

.auth-button {
}

.container {
  background: #762f6a;
  border: 1px solid #000;
  max-width: 925px;
  padding: 25px;
  margin: 0 auto;
}
