@import 'assets/stylesheets/abstract/_variables.scss';
@import 'assets/stylesheets/abstract/_mixins.scss';
@import 'assets/stylesheets/base/_custom-bootstrap.scss';
@import 'assets/stylesheets/base/_fonts.scss';
@import '~bootstrap/scss/bootstrap';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Ruberoid, Roboto, sans-serif;

}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header,
footer {
  -webkit-box-shadow: 0px 5px 5px -5px rgb(34 60 80 / 60%);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgb(34 60 80 / 60%);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  &,
  .footer-text {
    color: #fff;
    a {
      color: #da982b;
    }
  }
}
footer {
  min-height: 40px;
  p {
    padding: 0;
    margin: 0;
  }
}
.header {
  min-height: 40px;

  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: inherit;
    padding: 0 3vw;
  }
}
.logo {
  display: block;
  margin: 0px 8% 0 0;
}

.nav {
  display: flex;

  // .nav__link

  &__link {
    display: flex;
    align-items: center;
    padding: 4px 14px;
    border-right: 1px solid #000;
    background: rgba(0, 0, 0, 0.11);
    &:first-child {
      border-left: 1px solid #000;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.31);
    }
  }
  &__link, &__text {
    text-decoration: none;
    &:hover, & {
      color: #da982b;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  // .nav__icon

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
  }
  &__icon + &__text {
    margin: 0 0 0 8px;
  }
}

.auth-button {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  background: #90C96E;
  border: none;
  font-weight: 500;
  padding: 5px 6px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  overflow-x: hidden;
  color: rgb(66, 66, 66);
  transition:  color 0.4s ease-in-out;
  @include sunny(144%);
  &:hover {
    color: #fff;
  }
}

.container {
  background: #762f6a;
  border: 1px solid #000;
  max-width: 925px;
  padding: 25px;
  margin: 0 auto;
}
.main {
  @include media(md) {
    margin: 1% 0 4%;
  }
}
.btn {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}