@import './../../assets/stylesheets/abstract/_variables.scss';
@import './../../assets/stylesheets/abstract/_mixins.scss';



.avatar {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;

   &__hover {


  }

  &__image, &__image_default {
    display: block;
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &__image_default {

  }
  &__image {

  }
  // .avatar__hover

  &__hover {
    display: block;
    object-fit: contain;
    opacity: 0;
    transition: opacity .3s ease-out;
    position: relative;
    max-width: 100%;
  }

    // .avatar__preview-trash

    &__preview-trash {
      position: absolute;
      top: 8px;
      right: 10px;
      left: auto;
      z-index: 1;
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
    }
  
    // .avatar__file
  
    &__file {
      position: absolute;
      opacity: 0;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
    &__label {
      // @extend %fa-icon;
      // @extend .fas;
    
      position: relative;
      display: block;
      width: fit-content;
      height: auto;
      margin: 10px auto;
      overflow: hidden;
      border-radius: 50%;
      z-index: 1;
      border: 1px solid #ced4da;
      max-height: 100%;
      max-width: 100%;
      &.loaded {
        .avatar__image {
          z-index: 1;
        }
        & + .avatar__preview-trash {
          visibility: visible;
          opacity: 1;
        }
      }

      &:hover .avatar__hover {
        opacity: 1;
      }
      .fa-spin {
        position: absolute;
        z-index: 9999;
        top: 26%;
        left: 26%;
      }
      &.loading {
        // &:before {
        //   display: inline-block;
        //   font-style: normal;
        //   font-variant: normal;
        //   text-rendering: auto;
        //   -webkit-font-smoothing: antialiased;
        //    content:  fa-content($fa-var-truck-loading);
        //   color: #000;
        // }
      }
    }
}
